.SigninScreen{
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.582);
}

.SigninScreen > form{
    display: grid;
    flex-direction: column;
}

.SigninScreen > form >h1{
    text-align: left;
    margin-bottom: 25px;
}

.signinScreen_gray{
    color: gray;
}

.SigninScreen > form >h4{
    text-align: left;
    margin-bottom: 25px;
}

.SigninScreen>form >input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.651);
}

.SigninScreen > form >button{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    cursor: pointer;
    font-weight: 600;
    border: none;
    margin-top: 20px;
}

.signupScreen_link{
    cursor: pointer;
    text-decoration: underline;
}